
<meta charset="utf-8">
<title>disbursement</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/v-money"></script>
<!-- vue-flatpickr-component -->
<script src="https://unpkg.com/vue-flatpickr-component"></script>
<!-- month select plug-in -->
<script src="https://unpkg.com/flatpickr@4.6.3/dist/plugins/monthSelect/index.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/flatpickr@4.6.3/dist/plugins/monthSelect/style.css"/>
<!-- TODO URL 변경 -->
<!-- style sheet -->
<link rel="stylesheet" type="text/css"
      href="http://html.gt.dev.daum.net/kakaowork-2020/guide/common/pc/css/flatpicker.css.vm"/>
<link rel="stylesheet" type="text/css"
      href="http://html.gt.dev.daum.net/kakaowork-2020/guide/common/pc/css/pc_base.css.vm?ver=20207814429"/>
<script src="http://alpha-api1-kage.kakao.com/dn/bYLjZU/ZSfBy4dREi/WIK6R4QdTH0l1iK1Sdqiq1/item.js"></script>

<!-- K editor -->
<!--tinymce 코어 파일 로드-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/tinymce/4.9.6/tinymce.min.js"></script>
<!-- 업로드 및 업로드 프로그래스-->
<script src="//t1.daumcdn.net/keditor/lib/axios/0.18.0/axios.min.js"></script>
<!--IE11 대응 polyfill-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/polyfill.min.js"></script>
<!--2019.03.25 keditor v0.3.2
2020.04.24 keditor v0.4.9
예시 var keditor_version = '0.4.9';-->
<!--PC 테마 파일 로드 사용할 테마를 골라서 로드한다.-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/themes/classic/theme.min.js"></script>
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/themes/balloon/theme.min.js"></script>
<!--Mobile 테마 파일 로드, 모바일웹 에디터를 사용할때만 로드한다.-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/themes/mobileClassic/theme.min.js"></script>
<!--플러그인 파일 로드-->
<!--이미지-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/kImage/plugin.min.js"></script>
<!--이미지 편집 photos (이미지 편집 기능 사용시 로드)-->
<script type="text/javascript" src="//t1.daumcdn.net/fp/photos/dist/1.3.0/photos.standalone.min.js"></script>
<!--비디오-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/video/plugin.min.js"></script>
<!--지도-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/maps/plugin.min.js"></script>
<!--폰트 컬러-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/colorPalette/plugin.min.js"></script>
<!--링크-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/klink/plugin.min.js"></script>
<!--copy & paste-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/kPaste/plugin.min.js"></script>
<!--데이터 출력 및 첨부 파일 추출-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/plugins/kData/plugin.min.js"></script>
<!--플러그인 추가는 문의 주세요(파일첨부, 오픈그래프, 코드블럭, 위치첨부, 테이블, 외부이미지 첨부 등등)-->
<!--언어 설정(한글)-->
<script type="text/javascript" src="//t1.daumcdn.net/keditor/dist/latest/langs/ko_KR.min.js"></script>
<!--필수 style-->
<link href="//t1.daumcdn.net/keditor/dist/latest/style/editor.css" rel="stylesheet">
<link href="//t1.daumcdn.net/keditor/dist/latest/style/editor-plugins.css" rel="stylesheet">
<div id="app">
  <div class="box_form" v-show="isWrite">
    <table class="tbl_comm type_row">
      <caption class="ir_caption">기안양식 설정 표</caption>
      <colgroup>
        <col style="width:130px">
        <col>
      </colgroup>
      <tbody>
      <tr>
        <th scope="row">{{ I18N.TEMPLATE.APPLICANT_INFO | t }}</th>
        <td>
          <div class="group_form">
            <div class="item_form form_medium">
              <div class="opt_comm opt_search"><!-- 옵션박스 열릴 경우 opt_open 클래스 추가 -->
                <div class="box_tf write">
                  <dk-search-input
                    id="deputySetUser"
                    v-model="applicant.empId"
                    :is-error.sync="isError.applicant"
                    :placeholder="$t(I18N.MSG.EMP_SUGGEST_1)"
                    :size="'form_medium'"
                    :options="empList"
                    label-key="accountId"
                    value-key="empId"
                    label-filter="userFormat"
                    :label-filter-form="apprConfig.userFormat"
                    @fetch="empSuggest"></dk-search-input>
                </div>
                <div class="box_opt">
                  <ul class="list_opt">
                    <li>
                      <a href="#none" class="link_opt">text</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">{{ I18N.TEMPLATE.TOTAL_COST | t }}</th>
        <td>
          <div class="group_form">
            <div class="item_form form_medium">
              <div class="box_tf">
                <input type="text" class="tf_comm align_right" v-model.lazy="totalCost"
                       v-money="money" readonly><!-- 읽기전용일 경우 readonly 속성 추가 -->
              </div>
            </div>
            <span class="txt_form">{{ I18N.MSG.DISBURSEMENT1 | t }}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <strong class="tit_form">{{ I18N.TEMPLATE.DETAIL | t }}</strong>
    <table class="tbl_comm">
      <caption class="ir_caption">기안양식 상세내용 설정 표</caption>
      <colgroup>
        <col style="width:146px">
        <col style="width:193px">
        <col style="width:146px">
        <col>
        <col style="width:67px">
      </colgroup>
      <thead>
      <tr>
        <th scope="col">{{ I18N.TEMPLATE.DATE | t }}<span class="emph_need emph_color">*</span></th>
        <th scope="col">{{ I18N.TEMPLATE.COST | t }}<span class="emph_need emph_color">*</span></th>
        <th scope="col">{{ I18N.TEMPLATE.ITEM | t }}<span class="emph_need emph_color">*</span></th>
        <th scope="col">{{ I18N.TEMPLATE.USAGE | t }}<span class="emph_need emph_color">*</span></th>
        <th scope="col">{{ I18N.TEMPLATE.ADJUST | t }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <div class="item_form">
            <div class="calendar_comm">
              <div class="box_tf">
                <dk-date-picker
                  :size="''"
                  :min-date="'2020-01-01'"
                  :max-date="'today'"
                  :is-error.sync="isError.date"
                  v-model="content.date"></dk-date-picker>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="item_form">
            <div class="box_tf">
              <input type="text" class="tf_comm" :class="{ 'error' : isError.item }" maxlength="12"
                     :placeholder="$t(I18N.MSG.DISBURSEMENT2)"
                     v-model="content.item" @focus="isError.item = false">
              <!-- maxlength는 최대 글자수와 같도록 변경 -->
            </div>
          </div>
        </td>
        <td>
          <div class="item_form">
            <div class="box_tf">
              <input type="text" class="tf_comm align_right" :class="{ 'error' : isError.cost }" maxlength="50"
                     placeholder="0" v-model.lazy="content.cost"
                     v-money="money" @focus="isError.cost = false"><!-- maxlength는 최대 글자수와 같도록 변경 -->
            </div>
          </div>
        </td>
        <td>
          <div class="item_form">
            <div class="box_tf">
              <input type="text" class="tf_comm" :class="{ 'error' : isError.usage }" maxlength="40"
                     :placeholder="$t(I18N.MSG.DISBURSEMENT3)"
                     v-model="content.usage" @focus="isError.usage = false"><!-- maxlength는 최대 글자수와 같도록 변경 -->
            </div>
          </div>
        </td>
        <td>
          <dk-button :theme="'btn_white_line'" :size="'btn_medium'" :is-square="true" @click="add">
            <span class="ico_comm ico_plus">{{ I18N.LABEL.ADD | t }}</span>
          </dk-button>
        </td>
      </tr>
      <tr v-for="(content, index) in contents.slice().reverse()">
        <td>
          <div class="item_form">
            <div class="calendar_comm">
              <div class="box_tf">
                <label :for="'calendarId' + index" class="screen_out">{{ I18N.LABEL.SELECT_DATE | t }}</label>
                <input :id="'calendarId' + index" type="text" class="tf_comm flatpickr-input" placeholder="YYYY.MM.DD"
                       readonly="readonly" :value="content.date">
                <span class="ico_comm ico_calendar"></span>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="item_form">
            <div class="box_tf">
              <input type="text" class="tf_comm" maxlength="12" :placeholder="$t(I18N.MSG.DISBURSEMENT2)"
                     readonly="readonly"
                     :value="content.item"><!-- maxlength는 최대 글자수와 같도록 변경 -->
            </div>
          </div>
        </td>
        <td>
          <div class="item_form">
            <div class="box_tf">
              <input type="text" class="tf_comm align_right" maxlength="50" placeholder="0" readonly="readonly"
                     v-model.lazy="content.cost" v-money="money"><!-- maxlength는 최대 글자수와 같도록 변경 -->
            </div>
          </div>
        </td>
        <td>
          <div class="item_form">
            <div class="box_tf">
              <input type="text" class="tf_comm" maxlength="40" :placeholder="$t(I18N.MSG.DISBURSEMENT3)"
                     readonly="readonly"
                     :value="content.usage"><!-- maxlength는 최대 글자수와 같도록 변경 -->
            </div>
          </div>
        </td>
        <td>
          <dk-button :theme="'btn_white_line'" :size="'btn_medium'" :is-square="true" @click="removeConfirm(index)">
            <span class="ico_comm ico_minus">{{ I18N.LABEL.DELETE | t }}</span>
          </dk-button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="box_form" v-show="!isWrite">
    <table class="tbl_comm type_row">
      <caption class="ir_caption">기안양식 설정 내역</caption>
      <colgroup>
        <col style="width:145px"> <!-- 2020-07-06 수정 -->
        <col>
      </colgroup>
      <tbody>
      <tr>
        <th scope="row">{{ I18N.TEMPLATE.APPLICANT_INFO | t }}</th>
        <td>{{ applicant | userFormat(apprConfig.userFormat) }}</td>
      </tr>
      <tr>
        <th scope="row">{{ I18N.TEMPLATE.TOTAL_COST | t }}</th>
        <td>
          <div class="group_form">
            <div class="item_form form_medium">
              <div class="box_tf">
                <input type="text" class="tf_comm align_right" v-model.lazy="totalCost"
                       v-money="money" readonly><!-- 읽기전용일 경우 readonly 속성 추가 -->
              </div>
            </div>
            <span class="txt_form">{{ I18N.TEMPLATE.WON | t }}</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <strong class="tit_form">{{ I18N.TEMPLATE.DETAIL | t }}</strong>
    <table class="tbl_comm">
      <caption class="ir_caption">기안양식 상세내용 설정 내역</caption>
      <colgroup>
        <col style="width:146px">
        <col style="width:193px">
        <col style="width:146px">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th scope="col">{{ I18N.TEMPLATE.DATE | t }}</th>
        <th scope="col">{{ I18N.TEMPLATE.ITEM | t }}</th>
        <th scope="col">{{ I18N.TEMPLATE.COST | t }}</th>
        <th scope="col">{{ I18N.TEMPLATE.USAGE | t }}</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in contents.slice().reverse()">
        <td>{{ item.date }}</td>
        <td>{{ item.item }}</td>
        <td class="align_right bg_color2">{{ item.cost }}</td>
        <td class="align_left">{{ item.description }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  Vue.component('flat-pickr', VueFlatpickr);

  // 저장할 데이터
  let data = {"apprConfig":{"userFormat":"empName(accountId)"},"templateData":{"contents":[{"date":"2020-07-01","item":"11","cost":"11","usage":"11"},{"cost":"220","date":"2020-07-02","item":"222","usage":"222"}],"applicant":{"empId":9991,"empNo":"O1501","accountId":"rody.kim","empName":"김보람","email":"pepper.hoon@kakaocorp.com","deptId":2,"deptCode":"340210","deptName":"플랫폼개발팀","deptPathId":"1;2;","positionName":"직위1","dutyName":"직책1","officeLocation":"가산","apprPasswordUseYn":"N","apprPasswordSetYn":"N","concurrent":[],"authority":"ADMIN"}}}
  // 컴포넌트
  let vue = new Vue({
    el: '#app',
    mixins: [
      window.Vue // component js 설치된 vue
    ],
    data: function () {
      return {
        apprConfig: data.apprConfig,
        isWrite: false,
        applicant: {},
        empList: [],
        isError: {
          applicant: false,
          date: false,
          item: false,
          cost: false,
          usage: false
        },
        content: {
          date: '',
          item: '',
          cost: 0,
          usage: ''
        },
        editor: '',
        contents: [],
        money: {
          decimal: '.',
          thousands: ',',
          prefix: '',
          suffix: '',
          precision: 0,
          masked: true /* doesn't work with directive */
        },
        removeIndex: 0,
        I18N: window.Vue.I18N,
        targetOrigin: ''
      }
    },
    watch: {
      apprConfig(apprConfig) {
        data.apprConfig = apprConfig;
      },
      applicant(applicant) {
        data.templateData.applicant = applicant;
      },
      contents(contents) {
        data.templateData.contents = contents;
      },
      editor(editor) {
        data.templateData.editor = editor;
      }
    },
    created() {
      if (data.templateData.applicant) {
        this.applicant = data.templateData.applicant
        this.empList.push(data.templateData.applicant)
      }
      this.contents = data.templateData.contents ? data.templateData.contents : []
      this.editor = data.templateData.editor ? data.templateData.editor : ''
      document.title = this.$t(this.I18N.TEMPLATE.TITLE.DISBURSEMENT);
      this.initKeditor();
    },
    mounted() {
      window.addEventListener('message', this.iframeEvent);
    },
    beforeDestroy() {
      window.removeEventListener('message', this.iframeEvent)
    },
    computed: {
      totalCost: {
        get() {
          let total = 0
          this.contents.forEach(value => {
            let cost = value.cost
            if (typeof value.cost === 'string') {
              cost = Number(cost.split(',').join(''))
            }
            total += cost
          })
          return total
        },
        set() {
        }
      },
      defaultStartDate() {
        const d = new Date();
        d.setMonth(d.getMonth() - 3);
        return `${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}`;
      }
    },
    methods: {
      removeApplicant() {
        this.applicant = {}
      },
      add() {
        if (this.validateContent()) {
          this.contents.push(this.content)
          this.content = {}
        } else {
          this.sendIframeMessage({
            type: 'POPUP',
            popup: 'ALERT',
            data: {
              title: this.$t(this.I18N.MSG.TEMPLATE1),
              message: this.$t(this.I18N.MSG.TEMPLATE2),
              name: 'iframe-alert'
            }
          });
        }
      },
      validateContent() {
        if (this.content.date && this.content.item && this.content.cost != 0 && this.content.usage) {
          return true;
        } else {
          if (!this.content.date) this.isError.date = true;
          if (!this.content.item) this.isError.item = true;
          if (this.content.cost == 0) this.isError.cost = true;
          if (!this.content.usage) this.isError.usage = true;
          return false;
        }
      },
      removeConfirm(index) {
        this.removeIndex = index
        this.sendIframeMessage({
          type: 'POPUP',
          popup: 'CONFIRM',
          data: {
            title: this.$t(this.I18N.MSG.TEMPLATE3),
            message: this.$t(this.I18N.MSG.TEMPLATE4),
            name: 'iframe-confirm'
          }
        });
      },
      remove() {
        this.contents.splice(this.contents.length - this.removeIndex - 1, 1)
      },
      empSuggest(keyword, param) {
        this.sendIframeMessage({
          type: 'API',
          api: 'GET_EMP_SUGGEST',
          data: {
            keyword: keyword,
            param: {
              concurrent: 'Y'
            }
          }
        });
      },
      validate() {
        if (this.applicant.empId && this.contents.size > 0) {
          return true;
        } else {
          let alert = {
            type: 'POPUP',
            popup: 'ALERT'
          }
          if (!this.applicant.empId) {
            this.isError.applicat = true;
            alert.data = {
              // title: this.$t(this.I18N.MSG.TEMPLATE1),
              // message: this.$t(this.I18N.MSG.TEMPLATE2),
              title: '신청자 없음',
              message: '신청자 없음',
              name: 'iframe-alert'
            }
          } else if (this.contents.size < 1) {
            alert.data = {
              // title: this.$t(this.I18N.MSG.TEMPLATE1),
              // message: this.$t(this.I18N.MSG.TEMPLATE2),
              title: '상세내역 없음',
              message: '상세내역 없음',
              name: 'iframe-alert'
            }
          }
          this.sendIframeMessage(alert);
          return false;
        }
      },
      iframeEvent(e) {
        if (e.data.type == 'INIT') {
          this.apprConfig = e.data.CONFIG
          this.isWrite = e.data.isWrite;
          this.targetOrigin = e.data.targetOrigin
          if (e.data.EMP) {
            this.empList.push(e.data.EMP)
            this.applicant = e.data.EMP
          }
        } else if (e.data.type == 'API') {
          switch (e.data.api) {
            case 'GET_EMP':
              break;
            case 'GET_EMP_SUGGEST':
              this.empList = e.data.data.result
              break;
          }
        } else if (e.data.type == 'CONFIRM') {
          this.remove()
        } else if (e.data.type == 'SAVE') {
          if (this.validate) {
            this.sendIframeMessage({
              type: 'SAVE',
              data: data
            });
          }
        }
      },
      sendIframeMessage(data) {
        window.parent.postMessage(JSON.stringify(data), this.targetOrigin)
      },
      makeUploadHandler(url, formname) {
        return function(file, uploadCallback, progressHandler) {
          this.uploadHandler(url, formname, file, uploadCallback, progressHandler)
        }
      },
      uploadHandler(uploadUrl, formname, file, uploadCallback, progressHandler) {
        console.log('UploadHandler called')
        var data = new FormData();
        data.append(formname, file);

        var config = {
          onUploadProgress: function(e) {
            console.log('onUploadProgress called', e.loaded, e.total)
            if (progressHandler && typeof progressHandler === 'function') {
              progressHandler(e.loaded, e.total)
            }
          }
        }

        axios.post(uploadUrl, data, config)
          .then(function(res) { return res.data })
          .then(function(result) {
            uploadCallback(result)
          })
          .catch(function(res) {
            uploadCallback(res.data)
            console.error('image upload error', res)
          })
      },
      initKeditor () {
        tinymce.init({
          menubar: false,
          statusbar: false,
          browser_spellcheck: true,
          height: '306px',
          resize: false,
          body_class: 'content p_no_margin',//에디터 body node에 들어갈 class
          content_css: [
            'https://t1.daumcdn.net/keditor/dist/0.1.9/style/editor-content.css'// 에디터 영역에 들어갈 CSS
          ],
          selector:'#keditorContainer',// 에디터 iframe로 바뀌게될 container
          mobile: {// 모바일웹에서 모바일 테마를 사용할때 사용하는 옵션
            skin_url: '{{ cdnUrl }}/style',
            theme: 'mobileClassic',
            plugins: 'kData maps kPaste klink kImage advlist kTable simpleTable video colorPalette tip-quotation klink colorSlider',
            toolbar: 'kImage fontStyle align',
            color_map_preset: ['#FFFFFF', '#000000', '#333333', '#777777', '#C1C1C1', '#DDDDDD', '#FFFFFF', '#F41819', '#FF7602', '#FFCD01', '#0DB21B', '#1D9AE6'
              , '#6F46EC', '#808F9C', '#FF9985', '#FCAF6F', '#FFE999', '#8CF199', '#96D5FA', '#B4A6EF', '#9DB1C7', '#FF7154', '#FFA438', '#DFBC23'
              , '#19CF30', '#52AFE8', '#886DD1', '#70889C', '#AF0A00', '#A43A01', '#987402', '#028101', '#0051A1', '#3A1994', '#36424D'],
            default_color: '#333333',
            publishCallback: function () {
              console.log('mobile publish callback')
              console.log(tinymce.activeEditor.getContent())
            }
          },
          theme: 'classic',// 사용할 테마 balloon(상단에 툴바가 없는) 테마도 있으며 아직 개발이 완전하지 않음
          plugins: 'kData maps kPaste klink kImage advlist table video colorPalette',// 사용할 플러그인 리스트
          toolbar: 'bold underline strikethrough colorPalette klink | kImage video maps',// 툴바에 표시할 플러그인
          convert_urls: false,
          relative_urls: false,
          formats: {
            alignleft: {selector: 'p,h1,h2,h3,h4,h5,h6,td', styles: {textAlign: 'left'}},
            aligncenter: {selector: 'p,h1,h2,h3,h4,h5,h6,td', styles: {textAlign: 'center'}},
            alignright: {selector: 'p,h1,h2,h3,h4,h5,h6,td', styles: {textAlign: 'right'}},
            alignjustify: {selector: 'p,h1,h2,h3,h4,h5,h6,td', styles: {textAlign: 'justify'}},
            bold: {inline: 'b'},
            italic: {inline: 'i'},
            underline: {inline: 'u'},
            strikethrough: {inline: 's'}
          },
          // 특정 Tag 안에 자식으로 올수 있거나 올수 없는 Tag의 룰을 정하는 규칙입니다.
          valid_children : 'p[span|b|u|i|s|a|#text|br],-h2[img|div|figure|b],figcaption[#text],figure[img|figcaption|br|a],+span[u|s],-div[#text]',
          // 허용되는 Tag 및 Attribute의 설정을 나타내며 'i/em' 의 룰은 i를 허용하고 em이 왔을때 i로 대체하는 룰 입니다.
          extended_valid_elements: "b/strong,s/strike,s/del,i/em,iframe[mapdata|src|id|width|height|frameborder|scrolling|data-*]",
          maps: {
            attach_map_url: "{{ baseUrl }}/callback/map",
            edit_map_url: "{{ baseUrl }}/callback/map/edit",
            map_type: 'edit',
            toolbar: 'edit alignLeft alignCenter alignRight',
          },
          opengraph: {
            fetch_handler: function(url, callback) {
              var url = "/api/opengraph?url=" + encodeURIComponent(url)
              axios.get(url)
                .then(function(res) { return res.data })
                .then(function(data) { callback(data) })
            },
            toolbar: 'edit alignLeft alignCenter alignRight',
          },
          fileUpload: {
            upload_url: "/api/upload",
            delete_url: "/api/delete",
            max_size: 10 * 1024 * 1024,
            max_attach_count: 50,
            toolbar: 'alignLeft alignCenter alignRight',
          },
          kTable: {
            align_toolbar: 'alignLeft alignCenter alignRight',
          },
          kImage: {
            upload_handler: this.makeUploadHandler("/api/upload", 'file'),// 서비스에서 지원하는 이미지 업로드 URL 생성하여 사용, 결과 형식은 아래 '이미지 및 동영상 업로드 결과 형식' 참고
            upload_url: "/api/upload",// 서비스에서 제공 하는 multipart file 업로드 지원 URL 등록(upload_handler, upload_url 중 택일해서 사용)
            max_size: 10 * 1024 * 1024,
            max_count: 50,// 한번에 첨부할수 있는 이미지 개수
            is_caption: true,// 이미지의 캡션 사용 여부
            is_grid_layout: true,// 이미지의 그리드 레이아웃 사용여부
            toolbar: 'edit resize | widthContent alignCenter alignLeft alignRight floatLeft floatRight representative',// 이미지의 컨텍스트 툴바에 노출하고자 하는 버튼과 액션 정의
            representative_image_callback: function (data) {// 대표이미지 설정버튼 노출 및 버튼 클릭시 실행하는 callback함수 정의
              console.log('대표 이미지 데이터 전달', data)
            },
            upload_callback: function (info) {// 이미지 업로드의 시작과 끝나는 시점에 호출되는 callback함수 정의
              console.log(info)// info = { status: 'start'|'end', plugin: 'kImage'}
            }
          },
          video: {
            upload_handler: this.makeUploadHandler('/api/uploadVideo', 'video')// 서비스에서 지원하는 동영상 업로드 URL 생성하여 사용, 결과 형식은 아래 '이미지 및 동영상 업로드 결과 형식' 참고
          },
          kPaste: {
            valid_elements: ['P','IMG', 'H1', 'H2', 'H3', 'TABLE', 'TBODY', 'TR', 'TD', 'B', 'S', 'U', 'A'],
            extended_valid_elements: {STRONG: 'b', STRIKE: 's', DEL: 's'},
            invalid_table_children: ['TABLE', 'IMG', 'FIGURE'],
            valid_attributes: ['href', 'src', 'rowspan', 'colspan']
          },
          colorPalette: {
            module: ['preset'], // 'preset', 'palette', 'code'
            color_map_preset: ['#BBBBBB', '#333333', '#00BCB4', '#EC2D79', '#5756D0'],
            preset_rows: 1,
            preset_cols: 5,
            default_color: '#333333',
            black_text_color_background: ['#dddddd', '#ffffff', '#ffc1c8', '#ffc9af', '#f6e199', '#9feec3', '#99cefa', '#c1bef9', '#c0d1e7'],
          },
          klink: {
            is_panel: true,
          },
          kList: {
            list: [
              { type: 'REMOVE', style: 'remove', icon: 'list-remove' },
              { type: 'UL', style: 'disc', icon: 'list-disc' },
              { type: 'UL', style: 'circle', icon: 'list-circle' },
              { type: 'OL', style: 'decimal', icon: 'list-decimal' },
            ],
            isEmptyText: true,
          },
          blockquoteList: [
            { title: '리셋', block:'p', icon: 'list-remove', attributes: { 'data-ke-style': '' } },
            { title: '인용1', block: 'blockquote', icon: 'blockquote-style1', attributes: { 'data-ke-style': 'style1' }, styles: { fontSize: '' } },
            { title: '인용2', block: 'blockquote', icon: 'blockquote-style2', attributes: { 'data-ke-style': 'style2' }, styles: { fontSize: '' } },
            { title: '인용3', block: 'blockquote', icon: 'blockquote-style3', attributes: { 'data-ke-style': 'style3' }, styles: { fontSize: '' } }
          ],
          hrList: [
            { icon: 'hr-style1', attributes: { 'data-ke-style': 'style1' } },
            { icon: 'hr-style2', attributes: { 'data-ke-style': 'style2' } },
            { icon: 'hr-style3', attributes: { 'data-ke-style': 'style3' } },
            { icon: 'hr-style4', attributes: { 'data-ke-style': 'style4' } },
            { icon: 'hr-style5', attributes: { 'data-ke-style': 'style5' } },
            { icon: 'hr-style6', attributes: { 'data-ke-style': 'style6' } },
            { icon: 'hr-style7', attributes: { 'data-ke-style': 'style7' } },
            { icon: 'hr-style8', attributes: { 'data-ke-style': 'style8' } },
          ],
          panelOptions: [
            {plugin: 'fontSelect', align: 'center'},
            {plugin: 'fontSize', align: 'center'},
            {plugin: 'colorPalette', align: 'center'},
            {plugin: 'backColorPalette', align: 'center'},
            {plugin: 'kList', align: 'center'},
            {plugin: 'kEmoticon', align: 'center'},
            {plugin: 'simpleTable', align: 'center'},
            {plugin: 'klink', align: 'center'},
            {plugin: 'blockquoteList', align: 'center'},
            {plugin: 'hilitecolor', align: 'center'},
            {plugin: 'forecolor', align: 'center'},
          ],
          language: 'ko_KR'
        });
      }
    }
  });
</script>
